.numLikes{
    font-size: 1rem;
    border: none !important;
}

.favorite-button{
    text-align: center;
    align-items: center;
    justify-items: center;
    background-color: rgba(66, 64, 64, 0.548) !important;
    color: white !important;
    border-radius: 1rem;
}