.model-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.model-card{
    min-width: 25rem;
    min-height: 19rem;
    max-width: 25rem;
    max-height: 25rem;
    margin: 2rem;
    border-radius: 1rem !important;
    border: 2px black solid;
    padding: 0.3rem;
}

.model-card-content{
    position: absolute;
    max-width: 100%;
    z-index: 1;
    left:5px;
    border: red 2px solid;
}