.modelPage{
    border: 2px black solid;
    padding-bottom: 3rem !important;
    color: whitesmoke;
}

.summary{
    text-align: left;
}

.action_buttons{
    text-align: center;
    display: flex;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
}
.action_buttons div{
    margin-right:2rem;
    border: solid 2px gray;
}

.files{
    width: 100%;
    justify-content: center !important;
    align-items: center;
    text-align: center;
    border: black 2px solid;
}

.likes-button{
    text-align: center;
}

.action_buttons div:hover{
    background-color: blue !important;
}