
.pagination{
    display: flex;
    justify-content: center;
}

.pagination li{
    text-decoration: none;
    list-style: none;
    }

.page{
    padding: 0.5rem;
    margin: 0.2rem;
    border: black 1px solid;

}

.pg-active{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.336);
    background-color: rgba(40, 40, 245, 0.411);
}