.CommentCard{
    border: black solid 2px;
    margin: 0.5rem;
    border-radius: 1rem;
}

.comment-content{
    margin-left: 5rem;
}

.post-new-comment{
    margin-top: 1.5rem !important;
    width: 100% !important;
}

.post-comment-button{
    float: right;
    justify-content: center;
    text-align: center;
    background-color: blue !important;
}
